:root {
  --background-color: #333333;
  --subtle-color: #777777;
  --interactable-color: rgb(56, 149, 255);
  --interactable-size: 1.1em;
}

* {
    background-color: var(--background-color);
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-align: center;
}

.hero {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -67%);
}

h1 {
    font-variant: small-caps;
    font-size: 3em;
}

a {
    color: var(--interactable-color);
    font-size: var(--interactable-size);
}

button, input {
    background-color: #555555;
    border: solid;
    border-color: var(--interactable-color);
    border-width: 1px;
    border-radius: 8px;
    font-size: var(--interactable-size);
    padding: 8px 8px;
}

input:read-only {
    color: var(--subtle-color);
    border: none;
    width: 420px;
}

button:hover {
    background-color: #666666;
}

button:active {
    background-color: #444444;
}

footer {
    color: var(--subtle-color);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -5%);
}
