:root {
    --background-color: #370013;
    --content-color: #e2d9c1;
    --content-dim-color: #afa294;
    --link-color: #ce9869;
    --hover-color: #e8b68b;
    --box-background-color: #694200;
}

@font-face {
    font-family: header;
    src: url("Rubik.ttf") format("truetype");  
}

body {
    max-width: 48em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: header;
    font-variant: small-caps;
}

footer {
    font-size: 0.67em;
    color: var(--content-dim-color);
}
